/* Estilos generales */
body {
    background-image: url('OROLEES.jpg');
    background-size: cover; /* Ajusta la imagen de fondo a la pantalla */
    font-family: Arial, sans-serif;
}

/* Estilos generales */
.producto {
    display: inline-block;
    width: calc(10% - 10px); /* Ajusta el ancho de cada producto a 1/5 de la página */
    margin: 5px;
    background-color: transparent; /* Fondo transparente */
    border: none;
}

.producto img {
    width: 50%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Mantén la proporción */
}

.producto h3, .producto p {
    background-color: transparent; /* Fondo transparente para el texto */
    color: black; /* Color del texto */
}


/* Estilos para el header y la navegación */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0; /* Fondo claro para las secciones */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
}

/* Estilos para los productos */
.producto {
    display: inline-block;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada producto a 1/3 de la página */
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Mantén la proporción */
    border-radius: 10px; /* Borde redondeado */
}

.producto h3 {
    width: 100%; /* Ajusta el ancho del título al contenedor */
    text-align: center;
}

/* Ajusta el ancho del título de Arroz Inflado */
.producto:nth-child(2) h3 {
    width: 100%; /* Ajusta el ancho del título al contenedor */
}

/* Estilos para el contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    clear: both; /* Asegura que el footer esté debajo de todo */
}